<a href="https://colab.research.google.com/github/Aravinda89/Image-Classificatio-from-Scratch/blob/main/CH_MNIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
! [ -e /content ] && pip install -Uqq fastai

In [23]:
from fastai.vision.all import *
from fastai.vision.widgets import *
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [16]:
IMAGE_PATH = 'gdrive/MyDrive/DataSets/CH_mnist/data'

In [18]:
path = Path(IMAGE_PATH)
Path.BASE_PATH = path

In [20]:
len(path.ls())

15000

In [24]:
path.ls()[:5]

(#5) [Path('input_84_5_4.jpg'),Path('input_97_5_3.jpg'),Path('input_94_7_14.jpg'),Path('input_84_6_11.jpg'),Path('input_88_10_4.jpg')]

In [25]:
ls gdrive/MyDrive/DataSets/CH_mnist/

chinese_mnist.csv  data/

In [27]:
df = pd.read_csv("gdrive/MyDrive/DataSets/CH_mnist/chinese_mnist.csv")
df.head()

   suite_id  sample_id  code  value character
0         1          1    10      9         九
1         1         10    10      9         九
2         1          2    10      9         九
3         1          3    10      9         九
4         1          4    10      9         九

In [42]:
df['img_name'] = 'input_'+ df['suite_id'].astype(str) + '_' + df['sample_id'].astype(str) + '_' +  df['code'].astype(str)+'.jpg'

In [43]:
df

       suite_id  sample_id  code  value character           img_name
0             1          1    10      9         九   input_1_1_10.jpg
1             1         10    10      9         九  input_1_10_10.jpg
2             1          2    10      9         九   input_1_2_10.jpg
3             1          3    10      9         九   input_1_3_10.jpg
4             1          4    10      9         九   input_1_4_10.jpg
...         ...        ...   ...    ...       ...                ...
14995        99          5     9      8         八   input_99_5_9.jpg
14996        99          6     9      8         八   input_99_6_9.jpg
14997        99          7     9      8         八   input_99_7_9.jpg
14998        99          8     9      8         八   input_99_8_9.jpg
14999        99          9     9      8         八   input_99_9_9.jpg

[15000 rows x 6 columns]